{%- macro style(prefix='.content') %}
{{ prefix }} li + li {
  margin-top: 0.25em;
}

{{ prefix }} p:not(:last-child),
{{ prefix }} dl:not(:last-child),
{{ prefix }} ol:not(:last-child),
{{ prefix }} ul:not(:last-child),
{{ prefix }} blockquote:not(:last-child),
{{ prefix }} pre:not(:last-child),
{{ prefix }} table:not(:last-child) {
  margin-bottom: 1em;
}

{{ prefix }} h1,
{{ prefix }} h2,
{{ prefix }} h3,
{{ prefix }} h4,
{{ prefix }} h5,
{{ prefix }} h6 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}

{{ prefix }} h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

{{ prefix }} h1:not(:first-child) {
  margin-top: 1em;
}

{{ prefix }} h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em;
}

{{ prefix }} h2:not(:first-child) {
  margin-top: 1.1428em;
}

{{ prefix }} h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
}

{{ prefix }} h3:not(:first-child) {
  margin-top: 1.3333em;
}

{{ prefix }} h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}

{{ prefix }} h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
}

{{ prefix }} h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

{{ prefix }} blockquote {
  background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
}

{{ prefix }} ol {
  list-style-position: outside;
  margin-left: 2em;
  margin-top: 1em;
}

{{ prefix }} ol:not([type]) {
  list-style-type: decimal;
}

{{ prefix }} ol:not([type]).is-lower-alpha {
  list-style-type: lower-alpha;
}

{{ prefix }} ol:not([type]).is-lower-roman {
  list-style-type: lower-roman;
}

{{ prefix }} ol:not([type]).is-upper-alpha {
  list-style-type: upper-alpha;
}

{{ prefix }} ol:not([type]).is-upper-roman {
  list-style-type: upper-roman;
}

{{ prefix }} ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}

{{ prefix }} ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}

{{ prefix }} ul ul ul {
  list-style-type: square;
}

{{ prefix }} dd {
  margin-left: 2em;
}

{{ prefix }} figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

{{ prefix }} figure:not(:first-child) {
  margin-top: 2em;
}

{{ prefix }} figure:not(:last-child) {
  margin-bottom: 2em;
}

{{ prefix }} figure img {
  display: inline-block;
}

{{ prefix }} figure figcaption {
  font-style: italic;
}

{{ prefix }} pre {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
}

{{ prefix }} sup,
{{ prefix }} sub {
  font-size: 75%;
}

{{ prefix }} table {
  width: 100%;
}

{{ prefix }} table td,
{{ prefix }} table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

{{ prefix }} table th {
  color: #363636;
}

{{ prefix }} table th:not([align]) {
  text-align: left;
}

{{ prefix }} table thead td,
{{ prefix }} table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

{{ prefix }} table tfoot td,
{{ prefix }} table tfoot th {
  border-width: 2px 0 0;
  color: #363636;
}

{{ prefix }} table tbody tr:last-child td,
{{ prefix }} table tbody tr:last-child th {
  border-bottom-width: 0;
}

{{ prefix }} .tabs li + li {
  margin-top: 0;
}

{{ prefix }}.is-small {
  font-size: 0.75rem;
}

{{ prefix }}.is-medium {
  font-size: 1.25rem;
}

{{ prefix }}.is-large {
  font-size: 1.5rem;
}
{%- endmacro %}
