{#- HTML5基本テンプレートを継承 #}
{%- extends "element/html5.html" %}
{%- import 'css/content.css' as content %}
{%- block title %}入門｜フロントエンド開発{% endblock %}

{#- headブロックを拡張 #}
{%- block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/columns.css">
    <style>    
        .important { color: #f69; }
    </style>
{%- endblock %}

{#- bodyブロックを定義 #}
{%- block body %}
    <section class="container">
        <div class="columns">
            <div class="column is-two-fifth">
                <p>サイドバー</p>
            </div>
            <div class="column">
                <h1>入門｜フロントエンド開発</h1>
                <p>これは<span class="important">フロントエンド</span>開発の入門です</p>
            </div>
        </div>
    </section>
{%- endblock %}
