{#- HTML5基本テンプレートを継承 #}
{%- extends "element/html5.html" %}
{%- block title %}入門｜フロントエンド開発{% endblock %}

{#- headブロックを拡張 #}
{%- block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/static/css/style.css">
{%- endblock %}

{#- bodyブロックを定義 #}
{%- block body %}
    <section class="content-a">
        <div class="container">
            <!--img src="/static/img/logo.svg" alt="logo"-->
            <h1>入門｜フロントエンド開発</h1>
            <p>美味しく楽しくフロントエンド開発</p>
            <a href="#">開発ログを始める</a>
        </div>
    </section>
{%- endblock %}
